html, body
  margin 0
  padding 0

button
  margin 0
  padding 0
  border 0
  background none
  font-size 100%
  vertical-align baseline
  font-family inherit
  color inherit
  -webkit-appearance none
  /*-moz-appearance none*/
  -ms-appearance none
  -o-appearance none
  appearance none

body
  font 14px 'Helvetica Neue', Helvetica, Arial, sans-serif
  line-height 1.4em
  color #4d4d4d
  width 550px
  margin 0 auto
  -webkit-font-smoothing antialiased
  -moz-font-smoothing antialiased
  -ms-font-smoothing antialiased
  -o-font-smoothing antialiased
  font-smoothing antialiased

// sprite
@import './_sprite-logo'
