<form role="form" action="#">
  <div id="query" class="form-group">
    <label for="exampleInputEmail1">{{__ 'search.label'}}</label>
    <input type="text" class="form-control" id="word" placeholder="{{__ 'search.text'}}">
  </div>
  <button type="submit" class="btn btn-primary">
    <i class="glyphicon glyphicon-search"></i>
    {{__ 'search'}}
  </button>
</form>