html,body
  height 100%
  width 100%

#{{name}}
  width 100%
  position relative
  height auto !important
  height 100%
  min-height 100%

#content
  padding-bottom 86px

#footer
  width 100%
  position absolute
  bottom 0
  padding-top 2em
  background-color #333
  color white
  padding-bottom 2em

  ul li
    list-style-type none
    text-align right
