<p>{{__ "info.help" "Double-click"}}</p>
<p>{{__unsafe "info.written"}}</a></p>
<p>{{__unsafe "info.modified"}}</a></p>
<p>{{__unsafe "info.part"}}</p>
<div>
    <div class="logo sprite-logo _sprite-logo-1" />
</div>