<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#search">Github API with Beez</a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">

      <form class="navbar-form navbar-left" role="search" action="https://www.google.com/search" method="GET" target="_blank">
        <input type="hidden" name="as_sitesearch" value="github.com">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search github.com" name="as_q">
        </div>
        <button type="submit" class="btn btn-info btn-sm">
          <i class="glyphicon glyphicon-new-window"></i>
          Search
        </button>
      </form>


    </ul>
  </div><!-- /.navbar-collapse -->
  </nav>
